.mid{
    border-left: solid 2px rgb(201, 201, 201);
    height: 550px;
}

.div{
    max-width:min-content
}

.drop{
    width: 12rem;
    right: 0;
}

.input:focus{
    outline: none;
}
.contents{
    margin-top: 7.5rem;
}

.dropdown-item{
    font-size:smaller;
}